<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <a href="/products">Back To Products</a>
    <form action="/products/<%= product._id %>?_method=PUT" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required value="<%= product.name %>">
        </div>
        <div>
            <label for="brand">Brand</label>
            <input type="text" name="brand" id="brand" required value="<%= product.brand %>">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" name="price" id="price" required value="<%= product.price %>">
        </div>
        <div>
            <label for="color">Color</label>
            <input type="text" name="color" id="color" required value="<%= product.color %>">
        </div>
        <div>
            <label for="size">Size</label>
            <input type="text" name="size" id="size" required value="<%= product.size %>">
        </div>
        <div>
            <label for="category">Category</label>
            <select name="category" id="">
                <option value="Baju" <% product.category == 'Baju'?'selected':'' %>>Baju</option>
                <option value="Aksesoris" <% product.category == 'Aksesoris'?'selected':'' %>>Aksesoris</option>
                <option value="Celana" <% product.category == 'Celana'?'selected':'' %>>Celana</option>

            </select>
        </div>
        <button type="submit">Submit</button>

    </form>
</body>
</html>